packages: [
  "atom-beautify"
  "atom-mermaid"
  "atom-yamljson"
  "auto-indent"
  "behave-theme"
  "chester-atom-syntax"
  "dash"
  "editor-settings"
  "editorconfig"
  "emmet"
  "file-icons"
  "highlight-selected"
  "letter-spacing"
  "linter"
  "linter-write-good"
  "markdown-writer"
  "nucleus-dark-ui"
  "one-dark-vivid-syntax"
  "package-sync"
  "photon-syntax"
  "sort-lines"
]
